@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-geist: "Geist", "Sans-serif";

  --color-light-bg: #ffffff;
  --color-light-card: #faf9f6;
  --color-light-border: #191919;
  --color-light-button: #e5e5e5;
  --color-light-font: #191919;

  --color-dark-bg: #101010;
  --color-dark-card: #191919;
  --color-dark-border: #f2f2f2;
  --color-dark-button: #121212;
  --color-dark-font: #faf9f6;

  --animate-fade-in: fade-in 0.7s ease-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(-8px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.tooltip:before {
  @apply font-geist text-xs bg-dark-bg;
}

.tooltip:after {
  @apply bg-dark-bg;
}
